body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: inline-block;
}

.row {
    width: 100%;
    max-width: 1400px;
    min-width: 1250px;
    margin: auto;
}

.box {
    width: 50%;
    margin: auto;
}

h2 {
    text-align: left;
}

.images {
    background: rgba(0,218,219,1);
    width: 140px;
    height: 140px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;

}

.images img {
    padding: 5px;
    width: 130px;
    height: 130px;
    display: none;
}

.disabled{
    pointer-events: none;
    cursor: wait;
}
.restart {
    text-align: center;
}

#Restart {
    font-family: 'Montserrat Alternates', sans-serif;
    float: left;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    background: rgb(15, 15, 15);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.playAgain{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 2em;
    border-radius: 10px;
    padding: 10px 10px;
    background: rgb(15, 15, 15);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#selDiff{
    font-family: 'Montserrat Alternates', sans-serif;
    float: left;
    margin: 2.5em;
    border-radius: 10px;
    padding: 10px 10px;
    padding: 1em;
    background: rgb(15, 15, 15);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
}

/*MODALE*/
.playAgain:hover, #Restart:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}


#modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
}

#modal.active {
    display: flex;
    text-align: center;
}

#modalDiff {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
}

#modalDiff.active {
    display: flex;
    text-align: center;
}

#modalDiff h1{
    font-size: 3em;
}

#easy{
    background-color: greenyellow;
    font-weight: bold;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 10px;
    font-size: 2em;
    border: none;
    margin: 1em;
    cursor: pointer;
}

#hard{
    background-color: red;
    font-weight: bold;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 10px;
    font-size: 2em;
    border: none;
    margin: 1em;
    cursor: pointer;
}

#nClicks{
    font-weight: 500;
    font-size: 1.5em;
}

#firma{
    position: fixed;
    bottom: 0;
    margin: 2em;
    font-weight: bold;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.show {
    animation-name: rotazione-carta;
    animation-duration: .3s;
    background-color: rgb(211, 163, 6);
    border-radius: 10px;
}

.find {
    animation-name: indovinato;
    animation-duration: .3s;
    background-color: rgb(92, 221, 6);
    border-radius: 10px;
}

@keyframes rotazione-carta{
    from {
        transform: perspective(300px) rotate3d(0, 1, 0, 80deg);
        animation-timing-function: ease-in;
       }
    
       50% {
        transform: perspective(300px) rotate3d(0, 1, 0, -10deg);
        animation-timing-function: ease-in;
       }
    
       to {
        transform: perspective(300px);
        animation-timing-function: ease-in;
       }
}

@keyframes indovinato { /* animazione quando si indovina */
    from { 
        transform: rotate(0deg);
       } 
      to { 
       transform: rotate(360deg);	 
      }
}